---
import Layout from '../layouts/Layout.astro';
import CardProduct from '../components/CardProduct.astro';
import {BarAction} from '../components/BarAction.tsx';
import { supabase } from '../lib/supabase';

const { data: products, error } = await supabase
    .from('productos_catalogo')
    .select('*');

if (error) {
    console.error("Error cargando productos:", error);
}
---

<Layout>
	<main class="relative h-dvh w-full max-w-xl mx-auto bg-black overflow-hidden font-display">

		{/* Immersive Scroll Container */}

		<div class="snap-container no-scrollbar w-full h-full overflow-y-scroll snap-y snap-mandatory bg-white">
			{products?.map((producto: Product) => (
				<section id={`product-${producto.codigo}`} class="h-screen w-full snap-start">
					<CardProduct product={producto} />
				</section>
			))}
		</div>

		{/* Overlays */}
		<BarAction client:load productos={products || []} />
	</main>
	
</Layout>
