---
import Layout from '../layouts/Layout.astro';
import { CatalogManager } from '../components/CatalogManager.tsx';
import { supabase } from '../lib/supabase';

const { data: products, error } = await supabase
    .from('productos_catalogo')
    .select('*');

if (error) {
    console.error("Error cargando productos:", error);
}
---

<Layout>
	<main class="relative h-dvh w-full max-w-xl mx-auto bg-black overflow-hidden font-display">
		<CatalogManager client:load productos={products || []} />
	</main>
	
</Layout>
